.book-item {
	position: relative;
	padding: 30px 10px 15px 20px;
	border: var(--border);
	cursor: default;
	margin: -1px -1px -1px -1px;
	
}
.book-item--selected {
	border-bottom: var(--border-3px);
	margin-bottom: -3px;
}
.book-item__title {
	font-size: 1.25rem;
	margin-bottom: 10px;
}
.book-item__subtitle {
	font-size: 0.9rem;
	color: var(--gray);
	margin-bottom: 8px;
}
.book-item__author {
	margin-bottom: 8px;
}
.book-item__badge {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 55px;
	height: 24px;
	position: absolute;
	top: 5px;
	right: 5px;
	border: var(--border);
	border-radius: 8px;
}

.book-item__button {
	font-size: 0.75rem;
	padding:0;
	width: 140px;
	height: 32px;
	border-bottom: var(--border-2px);
}
.book-item__left-button {
	border-radius: 4px 0 0 4px;
}
.book-item__right-button {
	border-radius: 0 4px 4px 0;
	margin-left: -1px;
}