.book-info {
	flex: 2 1 200px;
	border: 2px solid var(--primary);
	max-height: calc(100vh - 56px);
	margin: 0 -2px;
	padding: 20px;
	overflow-y: auto;
}

.book-info__title {
	font-size: 2rem;
	margin-bottom: 5px;
}
.book-info__subtitle {
	font-size: 1.2rem;
	color: var(--gray);
	margin-bottom: 30px;
}

.book-info__content {
	line-height: 30px;
	margin-bottom: 20px;
}

@media(max-width : 960px) {
	.book-info {
		flex-direction: column;
		margin: 0;
		max-height:none;
		overflow-y: visible;
	}
}