.right-container {
	flex: 1 2 250px;
	border:var(--border-2px)
}
.storaged-books {
	height: calc(100vh - 100px);
	overflow-y: auto;
	overflow-x: hidden;
}
.to-read {
	height: 80px;
	border-bottom: var(--border);
	padding-left: 20px;
}
.to-read__title {
	font-size: 2rem;
	padding: 10px 0;
}

@media(max-width : 960px) {
	.storaged-books {
		height: auto ;
		overflow-y: visible;
		padding: 5px;
	}
}