:root {
	--primary: black;
	--white: white;
	--gray: #cdcdcd;

	--border: 1px solid var(--primary);
	--border-2px: 2px solid var(--primary);
	--border-3px: 3px solid var(--primary);
}
body {
	box-sizing: border-box;
}
.app-container {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 5px;
	max-width: 1440px;
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
}
input,button {
	box-sizing: border-box;
	font: inherit;
}
.mr-10 {
	margin-right: 10px;
}
::-webkit-scrollbar {
	position: absolute;
	width: 14px;
	height: 20px;
  }

  ::-webkit-scrollbar-thumb {
	background: var(--white);
	border-top: var(--border-2px);
	border-bottom: var(--border-2px);
	border-left: var(--border-2px);
	height: 80px;
  }

  ::-webkit-scrollbar-track {
	background: var(--white);
	border-left: var(--border);
  }